<div class="icon"><div class="inset"><i class="fa fa-film"></i></div></div>
<div class="options">
	<h2>Media</h2>
	<a href="{{ path('stems_admin_media_galleries') }}"><i class="fa fa-fw fa-list"></i> View Galleries</a>
	<a href="{{ path('stems_admin_media_galleries_create') }}"><i class="fa fa-fw fa-plus"></i> Create New Gallery</a>
</div>