<div id="media-manager-dialogue">
	<h2>Media Manager <i class="close fa fa-cross"></i></h2>
	<div class="tab" id="upload-tab">
		<h3>Upload Image</h3>
		<form action="upload_file.php" method="post" enctype="multipart/form-data">
			<label for="file">Filename:</label>
			<input type="file" name="file" id="file"><br>
			<input type="submit" name="submit" value="Submit">
		</form>
	</div>
	<div class="tab" id="upload-tab">
		<h3>Add Image From Url</h3>
		<form action="upload_file.php" method="post" enctype="multipart/form-data">
			<label for="file">Filename:</label>
			<input type="file" name="file" id="file"><br>
			<input type="submit" name="submit" value="Submit">
		</form>
	</div>
	<div class="tab" id="upload-tab">
		<h3>Image Library</h3>
		<form action="upload_file.php" method="post" enctype="multipart/form-data">
			<label for="file">Filename:</label>
			<input type="file" name="file" id="file"><br>
			<input type="submit" name="submit" value="Submit">
		</form>
	</div>
</div>